# Numbers

In [1]:
# Write an equation that uses 
# multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [4]:
a=1.25 + (5**2*8/2)-1
print(a)

100.25

In [5]:
# What is the value of the expression 4 * (6 + 5) -44


# What is the value of the expression 4 * 6 + 5 - 29


# What is the value of the expression 4 + 6 * 5 -34

a=4*(6+5)
b=4*6+5
c=4+6*5
print(a)
print(b)
print(c)

44
29
34

In [6]:
# What is the type of the result of the expression 3 + 1.5 + 4?

x=3 + 1.5 + 4
print(x)
print(type(x))

8.5
<class 'float'>

In [8]:
# What would you use to find a numberâ€™s square root, as well as its square?

## sqaure root of 16

25**(1/2)

5.0

In [9]:
## square of 5

5**2

25

# Strings

In [10]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

In [11]:
# Print out the 'o'
s[4]

'o'

# Lists

In [14]:
# Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
print(list3)

[1, 2, [3, 4, 'hello']]

In [15]:
list3[2].pop(2)
print(list3)

[1, 2, [3, 4]]

In [16]:
list3[2].append('goodbye')
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [18]:
# Sort the list below:

list4 = [5,3,4,6,1]
L1=sorted(list4)
L1

[1, 3, 4, 5, 6]

# Dictionaries

In [19]:
# Using keys and indexing, grab the 'hello' from the following dictionaries:

d = {'simple_key':'hello'}
# Grab 'hello'
print(d.get('NO KEY','hello'))

hello

In [26]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [27]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [29]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [ ]:
# Can you sort a dictionary? Why or why not?
# dictionary cannot be sorted because, data entered is in the from of key-value pair. We do not 
# need to sort we can find the value if we know the key

# Tuple

In [30]:
# What is the major difference between tuples and lists?
## tuples are immutable
# How do you create a tuple?
#by using() ex: T1=(1,2,3) parantheses is optional though

T1=(1,2,3,4)
T1

(1, 2, 3, 4)

# Sets

In [ ]:
# Unique thing about sets is that it can use bollean operaions

In [31]:
# Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
x=set(list5)
print(x)

{1, 2, 33, 4, 3, 11, 22}

# Booleans

In [32]:
# What will be the resulting Boolean of the following pieces of code 
# (answer fist then check by typing it in!)
# Answer before running cell
2 > 3 # false

False

In [33]:
# Answer before running cell
3 == 2.0 #false

False

In [34]:
# Answer before running cell
3.0 == 3 # true

True

In [35]:
# Answer before running cell
4**0.5 != 2 # false

False

In [36]:
# Final Question: What is the boolean output of the cell block below?
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] # 3>=4 =false

False

In [47]:
## WAP TO FIND THE FREQUENCY OCCURENCE OF EACH ELEMENT IN A LIST

L1=[1,2,3,4,3,3,2,1,4,1,4,1,3,2]
a=L1.count(1)
b=L1.count(2)
c=L1.count(3)
d=L1.count(4)
print('Element: 1 Frequency: ',a)
print('Element: 2 Frequency: ',b)
print('Element: 3 Frequency: ',c)
print('Element: 4 Frequency: ',d)

Element: 1 Frequency:  4
Element: 2 Frequency:  3
Element: 3 Frequency:  4
Element: 4 Frequency:  3

In [65]:
##  WAP TO READ AND DISPLAY TH MATRIX WITH THE HELP OF A LIST

L1=[[2,4,6],[5,7,8]]
for i in L1:
    print(i)
    for j in L2:
        print(j)

[2, 4, 6]
5
7
8
[5, 7, 8]
5
7
8

In [50]:
## WAP TO PACK AND UNPACK THE TUPLE

T1=(1,20,40,'CUTE',[1,3,4],555,5.6)

i1,i2,i3,i4,i5,i6,i7=T1  # to unpack

print(i1,i2,i3,i4,i5,i6,i7)

1 20 40 CUTE [1, 3, 4] 555 5.6

In [51]:
print(T1)

(1, 20, 40, 'CUTE', [1, 3, 4], 555, 5.6)

In [53]:
## WAP TO CONVERT A TUPLE INTO A STRING

T=('H','e','l','l','o')
str=''.join(T)
print(str)

Hello

In [61]:
## WAP TO  COMPARE TWO DICTIONARIES

d1={'india':'INDIA','norway':'NORWAY','panama':'PANAMA','iceland':'ICELAND'}
d2={'chile':'CHILE','brazil':'BRAZIL','iceland':'ICELAND','india':'INDIA'}
c1=set(d1.keys())
c2=set(d2.keys())
print(c1.difference(c2))
print(c2.difference(c1))

{'norway', 'panama'}
{'chile', 'brazil'}