#### 1: Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

    Input:
    listOne = [3, 6, 9, 12, 15, 18, 21]
    listTwo = [4, 8, 12, 16, 20, 24, 28]
    
    Output:
    [6, 12, 18, 4, 12, 20, 28]

In [19]:
# Write your code here


L1=[3,6,9,12,15,18,21]
L2=[4,8,12,16,20,24,28]
L3=[]
count=0
for i in L1:
    if count%2==1:
        L3.append(i)
    count +=1
    
count=0
for i in L2:
    if count%2==0:
        L3.append(i)
    count+=1

    print(L3)

[6, 12, 18, 4]
[6, 12, 18, 4]
[6, 12, 18, 4, 12]
[6, 12, 18, 4, 12]
[6, 12, 18, 4, 12, 20]
[6, 12, 18, 4, 12, 20]
[6, 12, 18, 4, 12, 20, 28]

#### 2: Given an input list removes the element at index 2 and add it to the 4th position and also, at the end of the list

    Input: List = [54, 44, 27, 79, 91, 41]
    Output: [54, 44, 79, 27, 91, 41, 27]

In [25]:
# Write your code here

L=[54,44,27,79,91,41]
L.remove(27)
L.insert(3,27)
L.append(27)
L

[54, 44, 79, 27, 91, 41, 27]

#### 3: Given a list slice it into a 3 equal chunks and reverse each list

    Input:
    sampleList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
    
    Output:
    l1 = [3, 2, 1]
    l2 = [6, 5, 4]
    l2 = [9, 8, 7]

In [43]:
# Write your code here

L=[1,2,3,4,5,6,7,8,9]
l1=L[:3]
l2=L[3:6]
l3=L[6:9]

print('l1= ',l1[::-1])
print('l2= ',l2[::-1])
print('l3= ',l3[::-1])

l1=  [3, 2, 1]
l2=  [6, 5, 4]
l3=  [9, 8, 7]

#### 4: Given a list iterate it and count the occurrence of each element and create a dictionary to show the count of each element

    Input: list = [10, 20, 30, 10, 20, 40, 50]
    Output : dict = {10: 2, 20: 2, 30: 1, 40: 1, 50: 1}

In [44]:
# Write your code here

L=[10,20,30,10,20,40,50]
d=dict()
for i in L:
    d[i]=d.get(i,0) + 1
    print(d)

{10: 1}
{10: 1, 20: 1}
{10: 1, 20: 1, 30: 1}
{10: 2, 20: 1, 30: 1}
{10: 2, 20: 2, 30: 1}
{10: 2, 20: 2, 30: 1, 40: 1}
{10: 2, 20: 2, 30: 1, 40: 1, 50: 1}

#### 5: Given a two list of equal size create a set such that it shows the element from both lists in the pair

    Input : 
    firstList = [1, 2, 3, 4, 5]
    secondList = [10, 20, 30, 40, 50]
    
    Output:
    result = {(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)}

In [5]:
# Write your code here

L1=[1,2,3,4,5]
L2=[10,20,30,40,50]

#### 6: Given a following two sets find the intersection and remove those elements from the first set

    Input:
    firstSet = {10, 30, 40 , 60, 45}
    secondSet = {20, 50, 10 , 40, 55}
    
    Output:
    firstSet = {30, 60, 45}

In [68]:
# Write your code here

firstSet={10,30,40,60,45}
secondSet={20,50,10,40,55}

thirdSet=firstSet.intersection(secondSet)

print(thirdSet)
firstSet.difference(thirdSet)

{40, 10}

{30, 45, 60}

#### 7: Given two sets, Checks if One Set is Subset or superset of Another Set. if the subset is found delete all elements from that set

    Input:
    firstSet = {27, 43, 34}
    secondSet = {34, 93, 22, 27, 43, 53, 48}
    
    Output:
    First set is sub set of second set
    firstSet = {}

In [76]:
# Write your code here

firstSet={27,43, 34}
secondSet={34,93,22,27,43,53,48}

if (firstSet.issubset(secondSet)):
    print('First set is sub set of second set')
    firstSet.clear()
    print('firstSet= {}')
else:
    print(False)

First set is sub set of second set
firstSet= {}

#### 8: Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list

    Input:
        rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
        sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
    
    Output:
        after removing unwanted elemnts from list [47, 69, 76, 97]

In [83]:
# Write your code here

rollNumber=[47,64,69,37,76,83,95,97]
sampleDict={'John':47,'Emma':69,'Kelly':76,'Jason':97}
L=[]
for i in rollNumber:
    if i in sampleDict:
        L.append(i)
        print(L)

#### 9: Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates

    Input:
        d ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
    
    Output:
        [47, 52, 44, 53, 54]

In [87]:
# Write your code here

d={'jan':47,'feb':52,'march':47,'april':44,'may':52,'june':53,'july':54,'aug':44,'sept':54}
d1={}

for key,value in d.items():
    if value not in d1.values():
        d1[key]=value
        

print(d1)
print(d1.values())

{'jan': 47, 'feb': 52, 'april': 44, 'june': 53, 'july': 54}
dict_values([47, 52, 44, 53, 54])

#### 10: Remove duplicate from a list and create a tuple and find the minimum and maximum number

    Input:
        sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
    
    Output:
        unique items [87, 45, 41, 65, 99]
        tuple (87, 45, 41, 65, 99)
        min: 41
        max: 99

In [110]:
# Write your code here

sample=[87,45,41,65,94,41,99,94]

unique_items=[]
for i in sample:
    if i not in unique_items:
        unique_items.append(i)
        
print('unique_items: ',unique_items)


max_no=max(sample)
min_no=min(sample)
print('max: ',max_no)
print('min: ',min_no)

unique_items:  [87, 45, 41, 65, 94, 99]
max:  99
min:  41

#### 11. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every integer number.

Suppose the following input is supplied to the program:
        
        34,67,55,33,12,98
        Then, the output should be:
        [34, 67, 55, 33, 12, 98]
        (34, 67, 55, 33, 12, 98)

In [123]:
# Write your code here

str_n=str(input('Enter a sequence of numbers '))
l=str_n.split(",")
print(l)
L=[]
for i in l:
    L.append(i)
print(L)
T=tuple(L)
print(T)

Enter a sequence of numbers 12,23,45,56
['12', '23', '45', '56']
['12', '23', '45', '56']

TypeError: 'list' object is not callable

#### 12. WAP which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys, using dictionary comprehension.

In [124]:
# Write your code here

d=dict()
for i in range(1,20):
    d[i]=i**2
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}