In [9]:
import pandas as pd
import numpy as np
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

In [10]:
data=pd.read_csv('bank_data.csv')

In [11]:
print(data.head(5))

   Unnamed: 0  age          job  marital  education default  balance housing  \
0           0   30   unemployed  married        NaN      no   1787.0      no
1           1   33     services  married  secondary      no   4789.0     yes
2           2   35   management   single   tertiary      no   1350.0     yes
3           3   30   management  married   tertiary      no   1476.0     yes
4           4   59  blue-collar  married  secondary      no      0.0     yes

  loan   contact  day month  duration  campaign  pdays  previous poutcome   y
0   no  cellular   19   oct      79.0         1     -1         0  unknown  no
1  yes  cellular   11   may       NaN         1    339         4  failure  no
2   no  cellular   16   apr     185.0         1    330         1  failure  no
3  yes   unknown    3   jun     199.0         4     -1         0  unknown  no
4   no   unknown    5   may     226.0         1     -1         0  unknown  no

In [12]:
data.shape

(4521, 18)

In [6]:
print(data.tail())

      Unnamed: 0  age            job  marital  education default  balance  \
4516        4516   33       services  married  secondary      no   -333.0
4517        4517   57  self-employed  married   tertiary     yes  -3313.0
4518        4518   57     technician  married  secondary      no    295.0
4519        4519   28    blue-collar  married  secondary      no   1137.0
4520        4520   44   entrepreneur   single   tertiary      no   1136.0

     housing loan   contact  day month  duration  campaign  pdays  previous  \
4516     yes   no  cellular   30   jul     329.0         5     -1         0
4517     yes  yes   unknown    9   may     153.0         1     -1         0
4518      no   no  cellular   19   aug     151.0        11     -1         0
4519      no   no  cellular    6   feb     129.0         4    211         3
4520     yes  yes  cellular    3   apr     345.0         2    249         7

     poutcome   y
4516  unknown  no
4517  unknown  no
4518  unknown  no
4519    other  no
4520    other  no

In [14]:
print(data.columns)

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [13]:
data.isnull().sum()

Unnamed: 0     0
age            0
job            0
marital       11
education      7
default        0
balance        6
housing        3
loan           3
contact       35
day            0
month          0
duration       7
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [15]:
print(Counter(data['marital']))

Counter({'married': 2790, 'single': 1193, 'divorced': 527, nan: 11})

In [16]:
married_null=data[data['marital'].isnull()].index.tolist()
married_null

[46, 49, 50, 52, 54, 56, 306, 310, 312, 367, 445]

In [17]:
data['marital'].iloc[married_null]="Yes"
data.isnull().sum()

Unnamed: 0     0
age            0
job            0
marital        0
education      7
default        0
balance        6
housing        3
loan           3
contact       35
day            0
month          0
duration       7
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [18]:
print(Counter(data['education']))

Counter({'secondary': 2302, 'tertiary': 1349, 'primary': 676, 'unknown': 187, nan: 7})

In [19]:
edu_null=data[data['education'].isnull()].index.tolist()

In [20]:
data['education'].iloc[edu_null]='unknown'

In [21]:
data.isnull().sum()

Unnamed: 0     0
age            0
job            0
marital        0
education      0
default        0
balance        6
housing        3
loan           3
contact       35
day            0
month          0
duration       7
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [26]:
data['balance'].value_counts()

0.0       357
2.0        24
1.0        15
4.0        13
23.0       11
         ...
6767.0      1
6053.0      1
1825.0      1
1054.0      1
1646.0      1
Name: balance, Length: 2351, dtype: int64

In [28]:
data['balance'].iloc[data[data['balance'].isnull()].index.tolist()]='100'

In [29]:
data.isnull().sum()

Unnamed: 0     0
age            0
job            0
marital        0
education      0
default        0
balance        0
housing        3
loan           3
contact       35
day            0
month          0
duration       7
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [30]:
data['housing'].iloc[data[data['housing'].isnull()].index.tolist()]='Yes'

In [31]:
data.isnull().sum()

Unnamed: 0     0
age            0
job            0
marital        0
education      0
default        0
balance        0
housing        0
loan           3
contact       35
day            0
month          0
duration       7
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [33]:
data['loan'].iloc[data[data['loan'].isnull()].index.tolist()]='No'

In [35]:
data['contact'].iloc[data[data['contact'].isnull()].index.tolist()]='cellular'

In [37]:
data['duration'].iloc[data[data['duration'].isnull()].index.tolist()]='60'

In [38]:
data.isnull().sum()

Unnamed: 0    0
age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
y             0
dtype: int64

In [39]:
data.head()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,30,unemployed,married,unknown,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,60,1,339,4,failure,no
2,2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [40]:
data_new=pd.get_dummies(data.drop(['job'], axis=1),drop_first= True)

In [41]:
data_new.head()

,Unnamed: 0,age,day,campaign,pdays,previous,marital_divorced,marital_married,marital_single,education_secondary,...,duration_2029.0,duration_2087.0,duration_2456.0,duration_2769.0,duration_3025.0,duration_60,poutcome_other,poutcome_success,poutcome_unknown,y_yes
0,0,30,19,1,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,33,11,1,339,4,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
2,2,35,16,1,330,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,30,3,4,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,59,5,1,-1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0

In [42]:
X=data_new.drop(['y_yes'], axis=1)
y=data_new['y_yes']

In [43]:
X.head()

,Unnamed: 0,age,day,campaign,pdays,previous,marital_divorced,marital_married,marital_single,education_secondary,...,duration_1994.0,duration_2029.0,duration_2087.0,duration_2456.0,duration_2769.0,duration_3025.0,duration_60,poutcome_other,poutcome_success,poutcome_unknown
0,0,30,19,1,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,33,11,1,339,4,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
2,2,35,16,1,330,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,30,3,4,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,59,5,1,-1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1

In [44]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: y_yes, dtype: uint8

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test=train_test_split(X,y)

In [47]:
X_train.shape

(3390, 3258)

In [48]:
X_test.shape

(1131, 3258)

In [49]:
from sklearn.preprocessing import StandardScaler

In [51]:
scaler=StandardScaler()

In [52]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [53]:
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [54]:
X_train[:5]

array([[-1.5968122 ,  0.26760226,  1.82916984, ..., -0.21344711,
        -0.1713814 ,  0.46930045],
       [ 1.43284012, -0.86714509, -0.59602646, ...,  4.68500145,
        -0.1713814 , -2.1308311 ],
       [-1.28878988,  0.74041365, -1.44484516, ...,  4.68500145,
        -0.1713814 , -2.1308311 ],
       [-1.43820369, -0.3943337 , -0.35350683, ..., -0.21344711,
        -0.1713814 , -2.1308311 ],
       [-0.83748356, -0.77258281,  0.25279225, ..., -0.21344711,
         5.83493887, -2.1308311 ]])

In [56]:
from sklearn import svm

In [57]:
clf=svm.SVC(kernel='linear', C=1.0)
clf.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [58]:
predictions=clf.predict(X_test)

In [60]:
from sklearn.metrics import classification_report, confusion_matrix

In [61]:
print(confusion_matrix(y_test,predictions))

[[937  66]
 [100  28]]

In [62]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.90      0.93      0.92      1003
           1       0.30      0.22      0.25       128

    accuracy                           0.85      1131
   macro avg       0.60      0.58      0.59      1131
weighted avg       0.84      0.85      0.84      1131